<div class="main-container">
  <header>
    <section>
      <div class="main-logo">
        <div class="main-logo-title">
          <h1> Count your <span> Points </span> </h1>
        </div>
    
        <div class="main-logo-subtitle">
          &copy; SoftClub edition
        </div>
      </div>

      <div class="header-buttons">
        <button class="main-button">New game</button>
      </div>   
    </section>
  </header>

  <section>
    kek
  </section>

  <section>
    <table>
      <tr>
        <td></td>
        <td>Sherlock Holmes</td>
        <td>Mrs. Stubbs</td>
        <td class="winner">Jim Moriarty <i class="material-icons">accessibility_new</i></td>
        <td></td>
      </tr>

      <tr>
        <td>16</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>15</td>
        <td>421</td>
        <td>415</td>
        <td>432</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>14</td>
        <td>487</td>
        <td>485</td>
        <td>471</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>13</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>12</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>11</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>10</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>9</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>8</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>7</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>6</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>5</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>4</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>3</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>2</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td>1</td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>

      <tr>
        <td></td>
        <td>453</td>
        <td>462</td>
        <td>449</td>
        <td></td>
      </tr>

      
    </table>
  </section>

</div>