<div *ngIf="isAlreadyAdded" class="main-container">
  <header>
      <section>
        <div class="main-logo">
          <div class="main-logo-title">
            <h1> Count your <span> Points </span> </h1>
          </div>
      
          <div class="main-logo-subtitle">
            &copy; SoftClub edition
          </div>
        </div>  
      </section>
    </header>

  <section>
    <div class="main-title">Select players</div>

    <div class="menu">
      <form class="search-nickname">
        <input type="text" class="main-input search" maxlength="20" placeholder="Search" list="gamePlayers" />
      </form>
      <datalist id="gamePlayers">
        <option *ngFor="let player of players">{{player.nickname}}</option>
      </datalist>
      <button class="main-button" (click)="goAddPlayer()">New player</button>
    </div>

    <table class="all-players">
      <tr *ngFor="let player of players">
        <td>{{player.nickname}}</td>
        <td>{{player.email}}</td>
        <td><button (click)="deletePlayer(player)"><i class="material-icons">close</i></button></td>
      </tr>
    </table>
  </section>

  <section>
    <div class="main-title">Choose game</div>

    <div class="circle">501</div>
    <div class="circle">301</div>
  </section>

  <section>
    <button class="primary-button" (click)="goGame()">Start</button>
  </section>

</div>

<app-add-player [players]="players" *ngIf="!isAlreadyAdded"></app-add-player>