$backgroudColor: #059de3;
$backgroudCardColor: #ffffff;
$buttonBackgroundColor: #ffd726;
$fontColor: #fafafa;
$fontDarkColor: #5a5a5a;
$font: Helvetica, sans-serif;
$blockBottomMargin: 60px;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialIcons/material_icons.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 10px;
    vertical-align: middle;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;  
}

body {
    background: $backgroudColor;
    color: $fontColor;
    font-family: $font;    
}

label {
    display: block;
    padding: 5px 0;
    margin-top: 15px;
}

.main-input, .main-button, .primary-button {
    width: 100%;
    padding: 10px;
    color: $fontDarkColor;
    border-radius: 3px;
    outline: none;
    border: none;
}

.main-button, .primary-button {
    width: calc(100% + 20px);
    background: $buttonBackgroundColor;
    color: $fontDarkColor;
    font-size: 13px;
    font-weight: bolder;
    transition: all .2s;
    cursor: pointer;
}

.primary-button {
    font-size: 18px;
    background: #00E676;
    color: $fontColor;
}

.main-button:hover, .primary-button:hover, .main-input:focus, .circle:hover {
    transition: all .2s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
}

.main-logo {
    line-height: 25px;
    user-select: none;

    h1 {
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;

        span {
            font-weight: bold;
            display: block;
            font-size: 37px;
        }
    }

    .main-logo-subtitle {
        text-align: right;
        font-size: 12px;
        opacity: .8;
    }
}

input, button, table, .circle {
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23); 
}

table {
    font-size: 14px;
    margin: 10px 0;
    background: $backgroudCardColor;
    color: $fontDarkColor;
    border-radius: 3px;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid $backgroudColor;
    transition: all .2s;
}

tr:nth-last-child(1) {
    border: none;
}

tr:hover {
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all .2s;
}

td {
    padding: 10px 20px;

    button {
        background: none;
        border: 0;
        outline: none;
        box-shadow: none;
        color: $backgroudColor;
        opacity: .5;
        transition: all .2s;
    }

    button:hover {
        opacity: 1;
        transition: all .2s;
        cursor: pointer;
    }
}

input.search {
    background-image: url(assets/images/baseline-search-24px.svg);
    background-repeat: no-repeat;
    background-position: center right 25px; 
}